.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin-top: 2em;
  height: 70vh;
  margin-top: 3em;
  padding-top: 1em;
  line-height: 2em;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: 1.5em;
}

.scroll-container::-webkit-scrollbar {
  background-color: var(--white-off);
  border-radius: 1em;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--white-on);
  border-radius: 1em;
}

#about-me {
  padding-top: 2em;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  user-select: none;
  scroll-snap-align: start;
  min-height: 60vh;
}

#bio-container {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  width: 100vw;
  padding-top: 1em;
}

#photo-container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

figcaption {
    background-color: transparent;
}

.fig-name, .fig-title {
  padding: 0.05em 0;
  background-color: transparent;
  text-align: center;
}

.fig-name {
  font-size: 3em;
  color: var(--white_off);
}

.fig-title {
  font-size: 1.7em;
  color: var(--white-on);
}

.photo-item {
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: center;
  width: 18em;
  height: 18em;
  border-radius: 100%;
  opacity: 0.7;
  padding: 0.5em 0;
}

.description-items {
  font-size: 2em;
  color: var(--white-off);
  text-align: justify;
}

#description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.description-config-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.description-items {
  padding-left: 0.5em;
}

.about-containers {
  margin: 1.5em 0;
}

.titles {
  padding: 0.25em 0;
  text-align: center;
  font-size: 2.5em;
  color: var(--white-on);
  border: 0.05em var(--white-on) solid;
  margin: 0 1em;
  border-radius: 2em;
}

.about-titles {
  padding-right: 0.8em;
  font-size: 2.3em;
  color: var(--white_off);
}

.about-subtitles {
  text-align: justify;
  padding-right: 1.2em;
  font-size: 1.6em;
  color: var(--white-on);
}

.certification-items {
  padding: 1em 0.25em;
  font-size: 2em;
  color: var(--white-off);
}
