<nav>
  <div class="logo-nav-container">
      <img routerLink="/argprog" src="../../../assets/others/argprog.png" alt="argentina programa" class="logo-nav">
  </div>
  <div class="navbar-container">
    <a routerLink="/user/about" class="navbar-items">Sobre mí</a>
    <a routerLink="/user/skills" class="navbar-items">Habilidades</a>
    <a routerLink="/user/projects" class="navbar-items">Proyectos</a>
    <a routerLink="/user/contact" class="navbar-items">Redes sociales</a>
    <a routerLink="/user/configure/profile" class="btn-navbar fa fa-user"></a>
    <a routerLink="/home" class="btn-navbar btn-navbar-active">Logout</a>
  </div>
</nav>
