<section>
  <p *ngIf="nameRegister; else elseWelcomeMessage" class="welcome-message">Bienvenido, un gusto en conocerte {{nameRegister}} !</p>
  <ng-template #elseWelcomeMessage>
    <p class="welcome-message">Bienvenido, un gusto en conocerte !</p>
  </ng-template>
  <form action="/register" method="POST">
      <input [(ngModel)]="nameRegister" [class.valid]="nameRegister" type="text" name="name_register" placeholder="Nombre y apellido (máx. 20 caracteres)" id="name_register" class="input_register" required autocomplete="off" maxlength="20">
      <input [(ngModel)]="emailRegister" type="email" [class.valid]="emailRegister" name="email_register" placeholder="Correo electrónico" id="email_register" class="input_register" required autocomplete="off" maxlength="50">
      <input [(ngModel)]="descriptionRegister" type="text" [class.valid]="descriptionRegister" name="ocupation_register" placeholder="Perfil profesional u ocupación (máx. 35 caracteres)" id="ocupation_register" class="input_register" required autocomplete="off" maxlength="35">
      <input [(ngModel)]="passwordRegister" [class.valid]="passwordRegister && passwordRegister.length > passwordRequerid" type="password" name="password_register" placeholder="Introducir contraseña (min. 8 caracteres)" id="password_register" class="input_register" required autocomplete="off" [minlength]="8">
      <input [(ngModel)]="confirmPasswordRegister" [class.valid]="confirmPasswordRegister === passwordRegister && confirmPasswordRegister.length !== confirmPasswordRegister2" type="password" name="repassword_register" placeholder="Re-introducir contraseña" id="repassword_register" class="input_register" required autocomplete="off" maxlength="77">
      <button type="submit" class="btn-back" routerLink="">Volver</button>
      <button type="submit" class="btn-register" routerLink="/home">Registrarse</button>
  </form>
</section>
