nav {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 15vh;
  user-select: none;
  z-index: 1000;
  margin: 0.5em 0;
}

#logo-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .logo-nav {
    width: 22em;
    padding: 1.5em;
    opacity: 0.5;
    background-color: transparent;
    transition: 0.5s;
  }
  .logo-nav:hover {
    opacity: 1;
    cursor: pointer;
    transition: 0.5s;
  }
}

#navbar-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .navbar-items {
    color: var(--white-off);
    font-size: 1.9em;
    margin: 0 0.7em;
  }
  .navbar-items:hover {
    color: var(--white-on);
  }
  .btn-navbar {
    font-size: 1.9em;
    color: var(--white-on);
    padding: 0.35em 1em;
    border-radius: 2em;
    background-color: var(--white_off);
    color: var(--black-on);
    margin: 0 0.5em;
    transition: 0.5s;
  }
  .btn-navbar-active {
    background-color: var(--green_off);
    padding: 0.35em 1.4em;
    transition: 0.5s;
  }
  .btn-navbar:hover {
    transition: 0.5s;
    background-color: var(--white_on);
  }
    .btn-navbar-active:hover {
    background-color: var(--green_on);
  }
}

